* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: "Poppins", sans-serif;
}

/* common style */
.container {
  width: 1200px;
  margin: 0 auto;
}

.align {
  text-align: center;
}

.margin-top {
  margin-top: 40px;
}

.padding {
  padding: 15px;
}

.line-height-1 {
  line-height: 1.5rem;
}

/* header */
header {
  margin: 20px 20px;
}

.title {
  color: #e53170;
  font-size: 42px;
  font-weight: 800;
}

/* main */
.img-size {
  width: 100px;
  float: left;
  margin-right: 14px;
}

.bianco {
  color: white;
}

.blu {
  color: #2ea6e1;
}

.card {
  background-color: black;
  width: calc(90% / 3);
  height: 100px;
  float: left;
  margin: 15px;
  margin-top: 40px;
}
